<div class="flex items-center justify-center w-[100vw] h-[100vh]">
  <form [formGroup]="profileForm" class="flex flex-col" (ngSubmit)="onSubmit()">
    <label for="username">Username:</label>
    <input
      id="username"
      type="text"
      class="w-[300px] p-1 border border-black"
      placeholder="Enter your username or email"
      formControlName="username"/>
    <p *ngIf="profileForm.get('username')?.hasError('required')">username required</p>
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      class="w-[300px] p-1 border border-black"
      placeholder="Password"
      formControlName="password"/>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
  <div>

  </div>
</div>
<router-outlet></router-outlet>
